OPENAI_API_KEY=YOUR_OPENAI_API_KEY
LANGCHAIN_API_KEY=YOUR_LANGCHAIN_API_KEY
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=asian-cooking-bot
CHROMA_DB_PATH=./data/chroma_db
CHUNK_SIZE=1000
CHUNK_OVERLAP=100
ITERATION=v5
UNSPLASH_ACCESS_KEY=
ELEVENLABS_API_KEY=YOUR_ELEVENLABS_API_KEY
ELEVENLABS_VOICE_ID=yj30vwTGJxSHezdAGsv9
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_MAX_CHARS=1200
